@{
    ViewData["Title"] = "Get to Know Joel";
}

<!-- Get to Know Joel Page -->
<h1>Get to Know Joel</h1>
<p>Visit Joel's favorite sites:</p>
<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
</ul>
<a href="https://baconsale.com/" target="_blank">
    <img src="https://public.boxcloud.com/api/2.0/internal_files/1439606248084/versions/1578785044521/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!Ac1Nc6sTbhqVhHPHgds5AheW_IeCOELR4dZoUNFOUfw06yBWS_7dIxnRcQb8Hyb4Q4FyRsD_l1ftt7R_SSOl-YWu8AjBmTUwdwMBGUyI9PQ516Xz2RshGDvO1tVhIVygQw-nZXOgXSdZtreMwZnA6nnW0yrb6FkhJGJHm0Vxq7HNAn9zd034YgCO6UUP6C2XQQIzbIV8Fxq99mtqbUut90aZnj70bYaJqerLF22LpiL4_pDRFhP9K6MxxgtpwzTX0Am8ORidLWlRKDK2VKVkUyr7CE8wa4sdi9H9rWZcp3JLxy91FKqzAsTKKG8aBCZpZUq11dzwH9qHfV4evCxWNkT_x6v2dvn-UO5qupN9oJPoZpir0pbdinvcfPP2zHV3jfBbDkS4tA3IJfpguGl5Ae0ZKAfbJpL-3eInd4hWRhYMEDs67uQhneDqyohsepA7aV8lZV6TY-0kHZ0lxdOA9aGdpMB43WrD7SBVwN2s5CQ4jLDJghqOHXgqnlo1c1Dk4rHVZ6U8-dqJhXukFNA_eDqvWubeU59BgkV6N2L9EgklfvGUQVKOdmjQmCbKuF5mPJUHmUZTMtcEi1OWus14VDQzUu6YohD65dgO9oBH&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2Fie6ibeddqm0f6oudp7bc5dyt87zxi2u4&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Baconsale" width="400">
</a>