@{
    ViewData["Title"] = "Get to Know Joel";
}

<!-- Get to Know Joel Page -->
<h1>Get to Know Joel</h1>
<p>Visit Joel's favorite sites:</p>
<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
</ul>
<a href="https://baconsale.com/" target="_blank">
    <img src="/group.jpg" alt="Baconsale" width="400">
</a>
