@model IEnumerable<Mission06_Watson.Models.Movie>

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!-- Main Landing Page -->
<h1>The Joel Hilton Film Collection</h1>
<img src="/joel.jpg" alt="Baconsale" width="400">
