@model IEnumerable<Mission06_Watson.Models.Movie>

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!-- Main Landing Page -->
<h1>The Joel Hilton Film Collection</h1>
<img src="https://public.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!UlXwDCR_WT7WwdCaGco-B4qLwpSFR7SnKeWCvsnmD4PVRchHa5KW6HeVBNCnDlrHpuw5Pb5l44h8UjMxUMRdrbHW3Q2uWSbuiWzs_bgRxI1SC4Qgde_PyI3TYQxlfDbwChExUI_g5DGpvmbfcjrR2w0KPgCeqlql1aSI-WMfxDGRPi0XXF9Km3-yB5laZt8eKwK4dZzU11dTigng2hBx_KghQytejkR7_8PBE_A2krtiYA87L88Y4lIktj8UeZvBSlhilg1-GGmdCvIKwGQJSz1p0uEo3wNvAlqp73AEh2sp4knqSjgatDyqhNRPJr6KtTvMX3oPbtk1aONLpoNGgbmrNYAWWf5x2sFUm_UEDumcE0HE8fdYES-iZ94kVhDT5gEh-tyR6kU_o8XtFSjJqqsTgPZwVHHIgPgayQbDeOagSTV5e9mQ1W6V_WEGqIG7TGeI-DKirRXK1-iZGeMrrzGh4JYq9rRUqHqTBb4cZotERqivUFMqcDT-sQP4K-xfkQdynTPEU7Ra9xuDWIn9pWKCH3X6VMjXNU1k8yh1CO7u8V1N91AcrFXQyteaQ-6OKiMbCfakt7ST5kDAhOOlNiKzMvVvEKdPCG0sHg..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Joel Hilton" style="max-width: 100%; height: auto;">